In [15]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("Klientet_bankes.csv", sep = '|')
data

,ID,Mosha,Gjinia,Familja,Niveli_edukimit,Statusi_martesor,Te_Ardhurat_vjetore,Lloji_cc,Muajt_me_banken,Muajt_joaktiv_gjatevitit,sa_here_ka_kontaktuar_banken,CC_limiti,CC_shuma_perdorur,CC_shuma_paperdorur,Transaksioni_Fundit,Numri_transaksioneve,Indikatori_Largim
0,768805383,45,M,3,High School,Married,$60K - $80K,Blue,39,1,3,12691.0,777,11914.0,1144,42,Ekzistues
1,818770008,49,F,5,Graduate,Single,Less than $40K,Blue,44,1,2,8256.0,864,7392.0,1291,33,Ekzistues
2,713982108,51,M,3,Graduate,Married,$80K - $120K,Blue,36,1,0,3418.0,0,3418.0,1887,20,Ekzistues
3,769911858,40,F,4,High School,Unknown,Less than $40K,Blue,34,4,1,3313.0,2517,796.0,1171,20,Ekzistues
4,709106358,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,1,0,4716.0,0,4716.0,816,28,Ekzistues
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,50,M,2,Graduate,Single,$40K - $60K,Blue,40,2,3,4003.0,1851,2152.0,15476,117,Ekzistues
10123,710638233,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,2,3,4277.0,2186,2091.0,8764,69,Larguar
10124,716506083,44,F,1,High School,Married,Less than $40K,Blue,36,3,4,5409.0,0,5409.0,10291,60,Larguar
10125,717406983,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,3,3,5281.0,0,5281.0,8395,62,Larguar
10126,714337233,43,F,2,Graduate,Married,Less than $40K,Silver,25,2,4,10388.0,1961,8427.0,10294,61,Larguar

In [4]:
data.isnull().sum()

ID                              0
Mosha                           0
Gjinia                          0
Familja                         0
Niveli_edukimit                 0
Statusi_martesor                0
Te_Ardhurat_vjetore             0
Lloji_cc                        0
Muajt_me_banken                 0
Muajt_joaktiv_gjatevitit        0
sa_here_ka_kontaktuar_banken    0
CC_limiti                       0
CC_shuma_perdorur               0
CC_shuma_paperdorur             0
Transaksioni_Fundit             0
Numri_transaksioneve            0
Indikatori_Largim               0
dtype: int64

In [5]:
data.describe()

,ID,Mosha,Familja,Muajt_me_banken,Muajt_joaktiv_gjatevitit,sa_here_ka_kontaktuar_banken,CC_limiti,CC_shuma_perdorur,CC_shuma_paperdorur,Transaksioni_Fundit,Numri_transaksioneve
count,1.012700e+04,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000,10127.000000
mean,7.391776e+08,46.325960,2.346203,35.928409,2.341167,2.455317,8631.953698,1162.814061,7469.139637,4404.086304,64.858695
std,3.690378e+07,8.016814,1.298908,7.986416,1.010622,1.106225,9088.776650,814.987335,9090.685324,3397.129254,23.472570
min,7.080821e+08,26.000000,0.000000,13.000000,0.000000,0.000000,1438.300000,0.000000,3.000000,510.000000,10.000000
25%,7.130368e+08,41.000000,1.000000,31.000000,2.000000,2.000000,2555.000000,359.000000,1324.500000,2155.500000,45.000000
50%,7.179264e+08,46.000000,2.000000,36.000000,2.000000,2.000000,4549.000000,1276.000000,3474.000000,3899.000000,67.000000
75%,7.731435e+08,52.000000,3.000000,40.000000,3.000000,3.000000,11067.500000,1784.000000,9859.000000,4741.000000,81.000000
max,8.283431e+08,73.000000,5.000000,56.000000,6.000000,6.000000,34516.000000,2517.000000,34516.000000,18484.000000,139.000000

In [6]:
data.nunique()

ID                              10127
Mosha                              45
Gjinia                              2
Familja                             6
Niveli_edukimit                     7
Statusi_martesor                    4
Te_Ardhurat_vjetore                 6
Lloji_cc                            4
Muajt_me_banken                    44
Muajt_joaktiv_gjatevitit            7
sa_here_ka_kontaktuar_banken        7
CC_limiti                        6205
CC_shuma_perdorur                1974
CC_shuma_paperdorur              6813
Transaksioni_Fundit              5033
Numri_transaksioneve              126
Indikatori_Largim                   2
dtype: int64

In [16]:
groupGender = data.groupby('Gjinia')['Mosha'].value_counts()
groupGender

Gjinia  Mosha
F       44       277
        45       272
        49       263
        47       258
        48       249
                ...
M       27        13
        67         2
        68         2
        70         1
        73         1
Name: count, Length: 86, dtype: int64

In [20]:
data.groupby(['Statusi_martesor', 'Familja'])['ID'].count()

Statusi_martesor  Familja
Divorced          0            75
                  1           105
                  2           204
                  3           215
                  4           125
                  5            24
Married           0           387
                  1           832
                  2          1284
                  3          1251
                  4           727
                  5           206
Single            0           399
                  1           770
                  2          1003
                  3          1027
                  4           587
                  5           157
Unknown           0            43
                  1           131
                  2           164
                  3           239
                  4           135
                  5            37
Name: ID, dtype: int64

In [28]:
data.groupby(['Te_Ardhurat_vjetore', 'Mosha'])['ID'].count()

Te_Ardhurat_vjetore  Mosha
$120K +              26        1
                     27        1
                     29        1
                     30        2
                     32        4
                              ..
Unknown              64        6
                     65       20
                     66        1
                     67        1
                     68        1
Name: ID, Length: 238, dtype: int64

In [29]:
data.groupby('Indikatori_Largim')['ID'].count()

Indikatori_Largim
Ekzistues    8500
Larguar      1627
Name: ID, dtype: int64

In [37]:
data.groupby(['Indikatori_Largim', 'Mosha', 'Te_Ardhurat_vjetore', 'Muajt_joaktiv_gjatevitit', 'Muajt_me_banken'])['ID'].count().sort_index(ascending=False)

Indikatori_Largim  Mosha  Te_Ardhurat_vjetore  Muajt_joaktiv_gjatevitit  Muajt_me_banken
Larguar            68     Less than $40K       3                         52                 1
                   66     Unknown              4                         56                 1
                   65     Unknown              6                         56                 1
                                               4                         48                 1
                          Less than $40K       6                         56                 1
                                                                                           ..
Ekzistues          26     $40K - $60K          2                         13                 2
                                               1                         36                 1
                                                                         15                 1
                                                                         13                 2
                          $120K +              2                         17                 1
Name: ID, Length: 6172, dtype: int64

Total number of existing clients and clients that left. One factor that causes clients to leave/leave bank is age, so people have died therefore the existing contract with the bank is closed. As it can be seen, the age of people who left the bank is 63 and above.
Apart from that the people who left the company their income is less than 40.000 annually.